<main>
    <div class="title">
        <h3>A LIFESTYLE BLOG</h3>
        <h1>Lovely Little Things</h1>
       </div>
       <div class="container">
    
        <form action="/blog" method="GET">
            <div class="card">
                <div class="imgcategory"> 
                    <button class="btncategory" name="category" value="LifeStyle" type="submit">
                        <p>Write a blog about<br> <strong>LifeStyle</strong></p> 
                    </button>
                </div>
        
                <div class="imgcategory">
                    <button class="btncategory" name="category" value="Foods" type="submit">
                        <p>Write a blog about <br><strong>Foods</strong></p>
                    </button>
                </div>
        
                <div class="imgcategory"> 
                    <button class="btncategory" name="category" value="Family" type="submit">
                        <p>Write a blog about <br><strong>Family</strong></p> 
                    </button>
                </div>   
            </div>
        </form>
        
</main>