<footer>
    <div class="footer">
        <h4>JOIN OUR MAILING LIST</h4>
        <input type="text" placeholder="Enter your mail here"> <br>
        <button>Subscribe</button>
    </div>
</footer>
</body>
</html>
