<div class="navbar">
    <div class="links">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Lifestyle</a>
            <a href="#">Food</a>
    </div>
    <div class="login links"><a href="#">login</a></div>
</div> 

